<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save Page</title>
</head>
<body>

<form th:action="@{/houses/{id}/save(id=${newHouse})}" th:object="${newHouse}" method="POST">
  <input type="hidden" th:field="*{id}">

  <div class="mb-3">
    <label for="text" class="form-label">House Type</label>
    <input type="text" class="form-control" id="text" th:field="*{houseType}">
  </div>

  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input type="text" class="form-control" id="address" th:field="*{address}">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Price</label>
    <input type="text" class="form-control" id="price" th:field="*{price}">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Room</label>
    <input type="text" class="form-control" id="room" th:field="*{room}">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Country</label>
    <input type="text" class="form-control" id="country" th:field="*{country}">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Description</label>
    <input type="text" class="form-control" id="description" th:field="*{description}">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">IsBooked</label>
    <input type="text" class="form-control" id="isBooked" th:field="*{isBooked}">
  </div>

  <div class="mb-3">
    <label for="image" class="form-label">Image</label>
    <input type="text" class="form-control" id="image" th:field="*{image}">
  </div>

  <button type="submit" class="btn btn-primary">Save</button>

</form>

</body>
</html>